<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="dape-shop-web"/>

    <dubbo:registry file="./dape-shop-web-dubbo.cache" address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <dubbo:reference id="shopGoodsService" interface="com.dape.shop.rpc.api.ShopGoodsService" mock="true"/>

    <dubbo:reference id="shopMenuService" interface="com.dape.shop.rpc.api.ShopMenuService" mock="true"/>

    <dubbo:reference id="shopModuleService" interface="com.dape.shop.rpc.api.ShopModuleService" mock="true"/>

    <dubbo:reference id="shopStoreService" interface="com.dape.shop.rpc.api.ShopStoreService" mock="true"/>

    <dubbo:reference id="shopUserService" interface="com.dape.shop.rpc.api.ShopUserService" mock="true"/>

    <dubbo:reference id="shopUserInfoService" interface="com.dape.shop.rpc.api.ShopUserInfoService" mock="true"/>

    <dubbo:reference id="shopOrderService" interface="com.dape.shop.rpc.api.ShopOrderService" mock="true"/>

    <dubbo:reference id="shopOrderFlowService" interface="com.dape.shop.rpc.api.ShopOrderFlowService" mock="true"/>

    <dubbo:reference id="shopCashFlowService" interface="com.dape.shop.rpc.api.ShopCashFlowService" mock="true"/>

    <dubbo:reference id="shopSmsService" interface="com.dape.shop.rpc.api.ShopSmsService" mock="true"/>

    <dubbo:reference id="shopDetailImgUrlService" interface="com.dape.shop.rpc.api.ShopDetailImgUrlService" mock="true"/>

</beans>