<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="dape-datax-web"/>

    <dubbo:registry file="./dape-datax-web-dubbo.cache" address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 文章 -->
    <dubbo:reference id="dataxSourceTypeService" interface="com.dape.datax.rpc.api.DataxSourceTypeService" mock="true"/>
    <!-- 类目 -->
    <dubbo:reference id="dataxTaskService" interface="com.dape.datax.rpc.api.DataxTaskService" mock="true"/>
    <!-- 评论 -->

    <!-- 接口服务 -->
    <dubbo:reference id="upmsApiService" interface="com.dape.upms.rpc.api.UpmsApiService" mock="true"/>


</beans>