<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dape.shop.dao.mapper.ShopUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.dape.shop.dao.model.ShopUserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_user_id" jdbcType="BIGINT" property="shopUserId" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="zfb_account" jdbcType="VARCHAR" property="zfbAccount" />
    <result column="zfb_name" jdbcType="VARCHAR" property="zfbName" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="pay_account" jdbcType="VARCHAR" property="payAccount" />
    <result column="pay_name" jdbcType="VARCHAR" property="payName" />
    <result column="company" jdbcType="VARCHAR" property="company" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_user_id, sex, mobile, address, zfb_account, zfb_name, pay_type, pay_account, 
    pay_name, company
  </sql>
  <select id="selectByExample" parameterType="com.dape.shop.dao.model.ShopUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop_user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dape.shop.dao.model.ShopUserInfoExample">
    delete from shop_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dape.shop.dao.model.ShopUserInfo">
    insert into shop_user_info (id, shop_user_id, sex, 
      mobile, address, zfb_account, 
      zfb_name, pay_type, pay_account, 
      pay_name, company)
    values (#{id,jdbcType=BIGINT}, #{shopUserId,jdbcType=BIGINT}, #{sex,jdbcType=BIT}, 
      #{mobile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{zfbAccount,jdbcType=VARCHAR}, 
      #{zfbName,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, #{payAccount,jdbcType=VARCHAR}, 
      #{payName,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dape.shop.dao.model.ShopUserInfo">
    insert into shop_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopUserId != null">
        shop_user_id,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="zfbAccount != null">
        zfb_account,
      </if>
      <if test="zfbName != null">
        zfb_name,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="payAccount != null">
        pay_account,
      </if>
      <if test="payName != null">
        pay_name,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopUserId != null">
        #{shopUserId,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zfbAccount != null">
        #{zfbAccount,jdbcType=VARCHAR},
      </if>
      <if test="zfbName != null">
        #{zfbName,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="payAccount != null">
        #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="payName != null">
        #{payName,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dape.shop.dao.model.ShopUserInfoExample" resultType="java.lang.Long">
    select count(*) from shop_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_user_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.shopUserId != null">
        shop_user_id = #{record.shopUserId,jdbcType=BIGINT},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=BIT},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.zfbAccount != null">
        zfb_account = #{record.zfbAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.zfbName != null">
        zfb_name = #{record.zfbName,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null">
        pay_type = #{record.payType,jdbcType=INTEGER},
      </if>
      <if test="record.payAccount != null">
        pay_account = #{record.payAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.payName != null">
        pay_name = #{record.payName,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_user_info
    set id = #{record.id,jdbcType=BIGINT},
      shop_user_id = #{record.shopUserId,jdbcType=BIGINT},
      sex = #{record.sex,jdbcType=BIT},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      zfb_account = #{record.zfbAccount,jdbcType=VARCHAR},
      zfb_name = #{record.zfbName,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=INTEGER},
      pay_account = #{record.payAccount,jdbcType=VARCHAR},
      pay_name = #{record.payName,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dape.shop.dao.model.ShopUserInfo">
    update shop_user_info
    <set>
      <if test="shopUserId != null">
        shop_user_id = #{shopUserId,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zfbAccount != null">
        zfb_account = #{zfbAccount,jdbcType=VARCHAR},
      </if>
      <if test="zfbName != null">
        zfb_name = #{zfbName,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="payAccount != null">
        pay_account = #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="payName != null">
        pay_name = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dape.shop.dao.model.ShopUserInfo">
    update shop_user_info
    set shop_user_id = #{shopUserId,jdbcType=BIGINT},
      sex = #{sex,jdbcType=BIT},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      zfb_account = #{zfbAccount,jdbcType=VARCHAR},
      zfb_name = #{zfbName,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      pay_account = #{payAccount,jdbcType=VARCHAR},
      pay_name = #{payName,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>