<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="${module.name}"></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="${uiPath} + ${appName} + '/css/weui.min.css'">
<link rel="stylesheet" th:href="${uiPath} + ${appName} + '/css/jquery-weui.css'">
<link rel="stylesheet" th:href="${uiPath} + ${appName} + '/css/style.css'">
  <style>.weui-panel.weui-panel:after{border-bottom:none;}</style>
</head>
<body ontouchstart>
<!--主体-->
<div class="w-container" id="listwrap">
  <div class="w-main">
      <div id="sortDiv" class="weui-flex wy-iconlist-box" style="display: flex;">
        <a id="tk_total_sales" onclick="sortTTSFnc()" th:classappend="${sort == 'tk_total_sales_des' || sort == 'tk_total_sales_asc'}? 'weui-bar__item--on'" style="padding:11px 0 9px 0;flex: 0 0 33%;" class="weui-navbar__item proinfo-tab-tit" href="javascript:">综合</a>
        <a id="total_sales" onclick="sortTSFnc()" th:classappend="${sort == 'total_sales_des' || sort == 'total_sales_asc'}? 'weui-bar__item--on'" style="padding:11px 0 9px 0;flex: 0 0 33%;" class="weui-navbar__item proinfo-tab-tit" href="javascript:">销量</a>
        <a id="price_asc" onclick="sortPFnc()" th:classappend="${sort == 'price_des' || sort == 'price_asc'}? 'weui-bar__item--on'" style="padding:11px 0 9px 0;flex: 0 0 33%;" class="weui-navbar__item proinfo-tab-tit" href="javascript:">价格</a>
      </div>
      <!--数据列表-->
      <div class="weui-panel">
        <ul id="goodsUL" class="wy-pro-list clear"></ul>
      </div>
      <div class="weui-loadmore" style="margin-bottom:3.5rem;height:1rem">
        <i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span>
      </div>
  </div>
</div>

<!--顶部搜索-->
<header class="weui-header index-header" style="z-index:999;">
  <div class="weui-flex wy-iconlist-box" style="display: flex;margin-top: 0;margin-bottom:0;background-color: #DD2727;">
    <a class="func-back" href="javascript:history.back(-1);" style="margin-right: -24px;"><i class="icon24-zz item-back-24" style="height: 1.1rem;margin-top:0.5rem;"></i></a>
    <a href="javascript:;" id="menuNameA" th:onclick="${#lists.size(items)}>0?'deqFadeToggle()':''" style="padding:11px 0 9px 0;flex: 0 0 auto;color:#fff;margin: 0 auto;" class="weui-navbar__item proinfo-tab-tit weui-bar__item--on2" th:text="${module.name}"></a>
    <a class="func-back" href="/goods/localGoods" style="margin-left: -24px;"><i class="icon24-zz item-home-24" style="height: 1.1rem;margin-top:0.5rem;"></i></a>
  </div>
</header>

<div th:if="${#lists.size(items)} > 0" id="top-menu-box" class="top-menu-box-d" onclick="deqFadeToggle()" style="top: 2rem;display:none;">
  <div th:each="item,itemStat:${items}" class="mine-module-i" style="flex: 0 0 25%;margin-left:-1px;">
    <a th:href="'/goods/localCoupon?i='+${module.id}+'&t='+${item.localType}+'&p='+${p}" class="weui-tabbar__item">
      <div th:classappend="${item.icon}" class="icon24"></div>
      <p class="weui-tabbar__label" th:text="${item.name}"></p>
    </a>
  </div>
</div>
<div th:if="${#lists.size(items)} > 0" id="top-menu-box-mask" style="opacity:1;visibility:visible;display:none;margin-top:2.2rem;" class="weui-mask" onclick="deqFadeToggle()"></div>

<!-- 返回顶部 -->
<div class="detail-top" id="backTop">
  <img th:src="${uiPath} + ${appName} + '/images/icon_top.png'" />
</div>


<!-- 底部导航 -->
<div class="weui-tabbar wy-foot-menu">
  <a href="/goods/localGoods" class="weui-tabbar__item">
    <i class="icon18-zz icon-quan-18-2"></i>
    <p class="weui-tabbar__label">活动券</p>
  </a>
  <!--
  <a href="classify.html" class="weui-tabbar__item">
    <i class="icon18-zz icon-retui-18"></i>
    <p class="weui-tabbar__label">团长推荐</p>
  </a>
  <a href="shopcart.html" class="weui-tabbar__item">
    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
    <i class="icon18-zz icon-pyq-18"></i>
    <p class="weui-tabbar__label">一键发圈</p>
  </a>
  -->
  <a href="/user/mine" class="weui-tabbar__item">
    <i class="icon18-zz icon-mine-18"></i>
    <p class="weui-tabbar__label">我的</p>
  </a>
</div>

<script th:src="${uiPath} + ${appName} + '/js/jquery-2.1.4.js'"></script>
<script th:src="${uiPath} + ${appName} + '/js/fastclick.js'"></script>
<script th:src="${uiPath} + ${appName} + '/js/jquery-weui.js'"></script>
<script th:src="${uiPath} + ${appName} + '/js/swiper.js'"></script>
<script th:src="${uiPath} + ${appName} + '/js/common.js'"></script>

<script th:inline="javascript">

    var platform = [[${p}]];
    var type = parseInt([[${#strings.isEmpty(t)} ? '1' : ${t}]]);
    var field = [[${#strings.isEmpty(module.pyShort)} ? 'gyb' : ${module.pyShort}]];
    var sort = '';
    var des = '';
    var title = '';

    $(function() {
        FastClick.attach(document.body);
        // 第一次加载数据
        $(".weui-loadmore").show();
        loadCoupons();
        // 返回顶部
        backScroll('listwrap');
    });

    var appURL = [[${uiPath}]] + [[${appName}]];
    var pageNum = 1;
    var pageSize = 20;
    var loading = false;

    function loadCoupons(){
        $('#goodsUL').html('');
        loadLocalGoodsForMain();
    }

    $("#listwrap").infinite().on("infinite", function () {
        if (loading) return;
        loading = true;
        pageNum++; //页数
        $('.weui-loadmore').show();
        loadLocalGoodsForMain();
    });

</script>
</body>
</html>
