<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>宝贝详情</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/weui.min.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/jquery-weui.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/style.css'}">
</head>
<body ontouchstart>
<!--主体-->
<div class="weui-content">
  <!--产品详情-->
  <div class="weui-tab">
    <div class="weui-tab__bd proinfo-tab-con">
      <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <!--主图轮播-->
        <div class="swiper-container swiper-zhutu">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img th:src="${uiPath} + ${appName} + ${shopGoods.pictUrl}" /></div>
            <div th:each="smallImg,smallImgStat:${#strings.arraySplit(shopGoods.smallImages,',')}" class="swiper-slide"><img th:src="@{${uiPath} + ${appName} + ${smallImg}}" /></div>
          </div>
          <div class="swiper-pagination swiper-zhutu-pagination"></div>
        </div>
        <div class="wy-media-box-nomg weui-media-box_text" style="position:relative;display: flex;flex-flow: row wrap;color:#363636;">
          <div style="position: absolute;bottom: 45px;right: 10px;z-index: 999;width:2rem;"><img style="width:100%;" th:src="${uiPath} + ${appName} +'/images/img_quan_1.png'"><em style="color: #f8e038;position: absolute;text-align:center;bottom:2px;left: 0;width: 100%;font-size: 0.65rem;" th:text="'¥60'"></em></div>
          <div style="flex:0 0 100%;font-size:0.7rem;" th:utext="${shopStore.shopType == 'B'} ? '<img style=\'width:18px;margin:-3px 5px 0 1px;\' src=\''+${uiPath}+${appName}+'/images/icon_tianmao.png\'>' + ${shopGoods.title}"></div>
          <div style="flex:0 0 100%;font-size:0.7rem;" th:utext="${shopStore.shopType == 'C'} ? '<img style=\'width:20px;margin:-3px 5px 0 1px;\' src=\''+${uiPath}+${appName}+'/images/icon_tiaobao.png\'>' + ${shopGoods.title}"></div>
          <div style="flex:0 0 100%;color: #d02c37;" class="wy-pro-pri mg-tb-5">
            <em th:text="'¥'+${shopGoods.zkFinalPrice}" class="num" style="font-size: 0.95rem;"></em>
            <em th:text="'原价'+${shopGoods.reservePrice}" style="color: #bbb;font-weight: normal;text-decoration:line-through;font-size:0.55rem;"></em>
            <em th:text="'月销量'+${shopGoods.volume}+'件'" style="color: #bbb;font-weight: normal;font-size:0.65rem;"></em>
          </div>
          <div style="flex:0 0 100%;;font-size: 0.65rem;color: #d56712;">
            标准佣金&nbsp;¥<em>4.35</em> ｜ 特权佣金&nbsp;¥<em>7.62</em><a style="text-decoration: underline;margin-left:0.5rem;color:#366ea1;" href="">如何升特权?</a>
          </div>
          <div style="flex:0 0 100%;font-size: 0.65rem;color: #A4A4A4;margin-top: 5px;">
            以实际佣金为准，卖家修改佣金24小时内同步到平台
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<!--底部导航-->
<div class="foot-black"></div>
<div class="weui-tabbar wy-foot-menu">
  <a href="/" class="weui-tabbar__item">
    <div class="weui-tabbar__icon foot-menu-home"></div>
    <p class="weui-tabbar__label" style="font-size: 0.65rem;">商城首页</p>
  </a>

  <a href="javascript:;" class="weui-tabbar__item yellow-color open-popup" data-target="#join_cart">
    <p class="promotion-foot-menu-label" style="font-size: 0.8rem;">去抢券</p>
  </a>
  <a href="javascript:;" class="weui-tabbar__item red-color open-popup" data-target="#selcet_sku">
    <p class="promotion-foot-menu-label" style="font-size: 0.8rem;">生成推广海报</p>
  </a>
</div>
<div id="join_cart" class='weui-popup__container popup-bottom' style="z-index:600;">
  <div class="weui-popup__overlay" style="opacity:1;"></div>
  <div class="weui-popup__modal">
    <div class="modal-content">
      <div class="weui-msg" style="padding-top:0;">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
          <h2 class="weui-msg__title">成功加入购物车</h2>
          <p class="weui-msg__desc">亲爱的用户，您的商品已成功加入购物车，为了保证您的商品快速送达，请您尽快到购物车结算。</p>
        </div>
        <div class="weui-msg__opr-area">
          <p class="weui-btn-area">
            <a href="shopcart.html" class="weui-btn weui-btn_primary">去购物车结算</a>
            <a href="javascript:;" class="weui-btn weui-btn_default close-popup">不，我再看看</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="selcet_sku" class='weui-popup__container popup-bottom' style="z-index:600;">
  <div class="weui-popup__overlay" style="opacity:1;"></div>
  <div class="weui-popup__modal">
    <div class="toolbar">
      <div class="toolbar-inner">
        <a href="javascript:;" class="picker-button close-popup">关闭</a>
        <h1 class="title">商品属性</h1>
      </div>
    </div>
    <div class="modal-content">
      <div class="weui-msg" style="padding-top:0;">
        <div class="wy-media-box2 weui-media-box_text" style="margin:0;">
          <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">尺码</span></div>
            <div class="weui-media-box__bd">
              <div class="promotion-sku clear">
                <ul>
                  <li><a href="javascript:;">25</a></li>
                  <li><a href="javascript:;">30</a></li>
                  <li><a href="javascript:;">34</a></li>
                  <li><a href="javascript:;">40</a></li>
                  <li><a href="javascript:;">45</a></li>
                  <li><a href="javascript:;">50</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">颜色</span></div>
            <div class="weui-media-box__bd">
              <div class="promotion-sku clear">
                <ul>
                  <li><a href="javascript:;">黑色</a></li>
                  <li><a href="javascript:;">红色</a></li>
                  <li><a href="javascript:;">白色</a></li>
                  <li><a href="javascript:;">蓝色</a></li>
                  <li><a href="javascript:;">橘黄色</a></li>
                  <li><a href="javascript:;">绿色</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="weui-msg__opr-area">
          <p class="weui-btn-area">
            <a href="order_info.html" class="weui-btn weui-btn_primary">立即购买</a>
            <a href="javascript:;" class="weui-btn weui-btn_default close-popup">不，我再看看</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{${uiPath} + ${appName} + '/js/jquery-2.1.4.js'}"></script> 
<script th:src="@{${uiPath} + ${appName} + '/js/fastclick.js'}"></script> 
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script> 
<script th:src="@{${uiPath} + ${appName} + '/js/jquery-weui.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/swiper.js'}"></script>
<script>
$(".swiper-zhutu").swiper({
        loop: true,
		paginationType:'fraction',
        autoplay:5000
      });
</script>
<script>
$(function(){
	$(".promotion-sku li").click(function(){
		$(this).addClass("active").siblings("li").removeClass("active");
		})
	})
</script>
<script>
      $(document).on("click", "#show-toast", function() {
        $.toast("收藏成功", function() {
          console.log('close');
        });
      })
</script>
<script>
      $(document).on("open", ".weui-popup-modal", function() {
        console.log("open popup");
      }).on("close", ".weui-popup-modal", function() {
        console.log("close popup");
      });
    </script>
<script>
$(function (){initTopHoverTree("tophov"+"ertree",30,10,10); })
</script>
<script>
function initTopHoverTree(hvtid, times, right, bottom) {
$("#" + hvtid).css("right", right).css("bottmo", bottom);
$("#" + hvtid).on("click", function () { goTopHovetree(times); })
$(window).scroll(function () {
if ($(window).scrollTop() > 268) {
$("#" + hvtid).fadeIn(100);
}
else {
$("#" + hvtid).fadeOut(100);
}
});
}
//返回顶部动画
//goTop(500);//500ms内滚回顶部
function goTopHovetree(times) {
if (!!!times) {
$(window).scrollTop(0);
return;
}
var sh = $('body').scrollTop();//移动总距离
var inter = 13.333;//ms,每次移动间隔时间
var forCount = Math.ceil(times / inter);//移动次数
var stepL = Math.ceil(sh / forCount);//移动步长
var timeId = null;
function aniHovertree() {
!!timeId && clearTimeout(timeId);
timeId = null;
//console.log($('body').scrollTop());
if ($('body').scrollTop() <= 0 || forCount <= 0) {//移动端判断次数好些，因为移动端的scroll事件触发不频繁，有可能检测不到有<=0的情况
$('body').scrollTop(0);
return;
}
forCount--;
sh -= stepL;
$('body').scrollTop(sh);
timeId = setTimeout(function () { aniHovertree(); }, inter);
}
aniHovertree();
}
</script>
</body>
</html>
