<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>宝贝详情</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/weui.min.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/jquery-weui.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/style.css'}">
</head>
<body ontouchstart>
<!--主体-->
<div class="weui-content" id="listwrap" style="overflow-y:auto;">
  <!--产品详情-->

  <!--主图轮播-->
  <div class="weui-panel">
    <div class="swiper-container swiper-zhutu">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img th:src="${uiPath} + ${appName} + ${shopGoods.pictUrl}" /></div>
        <div th:each="smallImg,smallImgStat:${#strings.arraySplit(shopGoods.smallImages,',')}" class="swiper-slide"><img th:src="@{${uiPath} + ${appName} + ${smallImg}}" /></div>
      </div>
      <div class="swiper-pagination swiper-zhutu-pagination"></div>
    </div>

    <div class="weui-media-box_text detail-container">
      <div class="detail-quan"><span class="quanFlag" style="width: 40px;">优惠券<br><b th:text="'¥'+${shopGoods.couponInfo}">￥10</b></span></div>
      <div class="detail-title" th:switch="${shopStore.shopType}">
        <i th:case="B" class="icon18-zz icon-tianmao-18"></i>
        <i th:case="C" class="icon18-zz icon-taobao-18"></i>
        <em style="padding:1.1rem;" th:text="${shopGoods.title}"></em>
      </div>
      <div class="detail-price-c">
        <em th:text="'¥'+${shopGoods.zkFinalPrice}" class="num" style="font-size: 0.95rem;font-weight: bold;"></em>
        <em th:text="'原价'+${shopGoods.reservePrice}" class="detail-price-s"></em>
        <em th:text="'月销量'+${shopGoods.volume}+'件'" class="detail-price-v"></em>
      </div>
      <div class="detail-return">
        标准佣金&nbsp;¥<em>4.35</em> ｜ 特权佣金&nbsp;¥<em>7.62</em><a style="" href="">如何升特权?</a>
      </div>
      <div class="detail-return-txt">
        以实际佣金为准，卖家修改佣金24小时内同步到平台
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <!-- 推荐理由 -->
      <div class="detail-tj-title">推荐理由</div>
      <div class="detail-tj-content">智能九档控温，名贵中草药配方，天然日晒海盐，蒸腾患痛部位，加速血液循环，效果显著突出</div>
  </div>

  <div class="weui-panel">
    <div class="weui-tab" style="height:auto;">
      <div class="weui-navbar" style="height:44px;">
        <a style="width: 50%;padding: 11px 0 9px 0;" class="weui-navbar__item proinfo-tab-tit weui-bar__item--on" href="#tab1">图文详情</a>
        <a style="width: 50%;padding: 11px 0 9px 0;" class="weui-navbar__item proinfo-tab-tit" href="#tab2">用户评价</a>
      </div>
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
          <div>
            <!-- 详情内容  -->
          </div>
          <div class="weui-cells__title" style="text-align: center;line-height: 3rem;">------已经到底了------</div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
          <div class="weui-cells__title" style="text-align: center;line-height: 3rem;">------已经到底了------</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 返回上页、查询页链接 -->
<div class="index-header">
    <div class="detail-back" style="left:0.5rem;top: 0.5rem;" onclick="javascript:history.back(-1);"><img style="margin: 20% auto auto 15%;" th:src="${uiPath} + ${appName} + '/images/icon-back_white.png'" /></div>
    <div class="detail-back" style="right:0.5rem;top: 0.5rem;" onclick="$('#searchForm').submit()"><img style="margin: 20% auto auto 20%;" th:src="${uiPath} + ${appName} + '/images/icon-search_white.png'" /></div>
</div>

<!-- 返回顶部 -->
<div class="detail-top" id="backTop">
  <img th:src="${uiPath} + ${appName} + '/images/icon_top.png'" />
</div>

<!--底部导航-->
<div class="foot-black"></div>
<div class="weui-tabbar wy-foot-menu">
  <a href="/" class="weui-tabbar__item">
    <div class="weui-tabbar__icon foot-menu-home"></div>
    <p class="weui-tabbar__label">商城首页</p>
  </a>

  <a href="javascript:;qiangquan()" class="weui-tabbar__item yellow-color open-popup" data-target="#join_cart">
    <p class="promotion-foot-menu-label" style="font-size: 0.8rem;">去抢券</p>
  </a>
  <a href="javascript:;haibao()" class="weui-tabbar__item red-color open-popup" data-target="#selcet_sku">
    <p class="promotion-foot-menu-label" style="font-size: 0.8rem;">生成推广海报</p>
  </a>
</div>

<!-- 查询页链接提交form，隐藏 -->
<div style="display: none;">
<form action="/goods/toSearch" method="post" id="searchForm">
  <input type="hidden" name="pageNum" value="1" />
  <input type="hidden" name="pageSize" value="20" />
  <input type="hidden" name="title" value="" />
</form>
</div>
<div id="toastContainer"></div>
<script th:src="@{${uiPath} + ${appName} + '/js/jquery-2.1.4.js'}"></script> 
<script th:src="@{${uiPath} + ${appName} + '/js/fastclick.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/jquery-weui.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/swiper.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/common.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/clipboard.min.js'}"></script>
<script th:inline="javascript">
  var appURL = [[${uiPath}]] + [[${appName}]];

  // 生成推广海报
  function haibao() {
      var dialogId = 'haibao';
      var len = $('#'+dialogId+'Win').length;
      var content = '<div class="haibaoContent"><img id="goodsHaibao" onload="imgloadComplent(\''+dialogId+'\')"/></div>';
      var footer = '<div class="haibaoFoot"><a href="javascript:">复制标题</a><a href="javascript:">复制文案</a><a href="javascript:closeDialog(\''+dialogId+'\')">关闭</a></div>';
      createDialog(dialogId,'',content,footer);
      $.post('/goods/haibao',{
          shopType : [[${shopStore.shopType}]],
          numIid : [[${shopGoods.numIid}]],
          pictUrl : [[${uiPath}]] + [[${appName}]] + [[${shopGoods.pictUrl}]],
          title : [[${shopGoods.title}]],
          zkFinalPrice : [[${shopGoods.zkFinalPrice}]],
          reservePrice : [[${shopGoods.reservePrice}]],
          freeShipment : [[${shopGoods.freeShipment}]],
          volume : [[${shopGoods.volume}]],
          couponInfo : [[${shopGoods.couponInfo}]]
      },function (data) {
          console.log(data);
          $('#goodsHaibao').attr('src',data.url);
      });
      if(len > 0){
          showDialog(dialogId);
      }else{
          //$.showLoading('正在生成<br>分享图片');// 自带的不能调节宽高
          showLoading('正在生成海报','style="min-width: 7.5rem;min-height: 7.5rem;"');
      }

  }
  // 图片加载完成后，隐藏加载杠，显示分享图片框
  function imgloadComplent(id) {
      $.hideLoading();
      showDialog(id);
  }

  // 抢券淘口令
  function qiangquan(){
      var dialogId = 'qianquan';
      var content = '<div id="copyDiv" class="puBody">' +
            '<h2><em>长按框内 <u class="p3">&gt;</u> 全选 <u class="p3">&gt;</u> 复制</em></h2>' +
            '<form name="puKoulingForm" id="puKoulingForm">' +
              '<textarea class="inputArea inputArea-2" id="copyKeyAndroid"></textarea>' +
            '</form>' +
          '</div>' +
          '<div id="copyButton" class="imne-copy-btn" style="display: block;">一键复制</div>' +
          '<div class="hasCoupon" style="display: block;" id="hasCoupon">复制淘口令，打开【手机淘宝】即可领券！</div>';
      var footer = '';
      createDialog(dialogId,'抢券淘口令',content,footer);
      showLoading('正在获取淘口令','style="min-width: 6.5rem;min-height: 6.5rem;"');
      $.post('/goods/quanKey',{goodId:[[${shopGoods.id}]]},function (data){
          $.hideLoading();
          if(data && data.copyTxt){
              $('#copyButton').attr('data-clipboard-text', data.copyTxt);
              $('#copyKeyAndroid').text(data.copyTxt);
              $('#copyButton').click(function (e) {
                  cloneTxt('copyButton');
              })
          }
          showDialog(dialogId);
      });
      // colseDialog(dialogId);
  }
  $(function() {
      FastClick.attach(document.body);
      $("#listwrap").height($(document.body).height()-44);
      $(".swiper-zhutu").swiper({
          loop: true,
          paginationType:'fraction',
          autoplay:5000
      });
      // 返回顶部
      backScroll('listwrap');
  });
</script>
</body>
</html>
