<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>宝贝详情</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="${uiPath + appName} + '/css/weui.min.css'">
<link rel="stylesheet" th:href="${uiPath + appName} + '/css/jquery-weui.css'">
<link rel="stylesheet" th:href="${uiPath + appName} + '/css/style.css'">
</head>
<body ontouchstart>
<!--主体-->
<div class="weui-content" id="listwrap">
  <!--产品详情-->

  <!--主图轮播-->
  <div class="weui-panel">
    <div class="swiper-container swiper-zhutu">
      <div class="swiper-wrapper" id="picList"></div>
      <div class="swiper-pagination swiper-zhutu-pagination"></div>
    </div>

    <div class="weui-media-box_text detail-container">
      <div class="detail-quan"><span class="quanFlag" style="width: 40px;" id="quanFlag">优惠券<br></span></div>
      <div class="detail-title" id="itemTitle"></div>
      <div class="detail-price-c" id="itemPrice"></div>
      <div class="detail-return">
        标准佣金&nbsp;¥<em id="biaoYong">0.00</em> ｜ 特权佣金&nbsp;¥<em id="teYong">0.00</em><a href="javascript:showKeFu('/upload/kefu.jpg')">如何升特权?</a>
      </div>
      <div class="detail-return-txt">
        以实际佣金为准，卖家修改佣金24小时内同步到平台
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <!-- 推荐理由 -->
      <div class="detail-tj-title">推荐理由</div>
      <div class="detail-tj-content" id="itemDescription">------</div>
  </div>

  <div class="weui-panel">
    <div class="weui-tab" style="height:auto;">
      <div class="weui-navbar" style="height:2.1rem;">
        <a style="width: 50%;padding: 11px 0 9px 0;" class="weui-navbar__item proinfo-tab-tit weui-bar__item--on" href="#tab1">图文详情</a>
        <a style="width: 50%;padding: 11px 0 9px 0;" class="weui-navbar__item proinfo-tab-tit" href="#tab2">用户评价</a>
      </div>
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
          <div>
            <!-- 详情内容  -->
          </div>
          <div class="weui-cells__title" style="text-align: center;line-height: 3rem;padding-left:0;padding-right:0;">------已经到底了------</div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
          <div class="weui-cells__title" style="text-align: center;line-height: 3rem;">------已经到底了------</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 返回上页、查询页链接 -->
<div class="index-header">
    <div class="detail-back" style="left:0.5rem;top: 0.5rem;" onclick="javascript:history.back(-1);"><img style="margin: 20% auto auto 15%;" th:src="${uiPath} + ${appName} + '/images/icon-back_white.png'" /></div>
    <div class="detail-back" style="right:0.5rem;top: 0.5rem;" onclick="$('#searchForm').submit()"><img style="margin: 20% auto auto 20%;" th:src="${uiPath} + ${appName} + '/images/icon-search_white.png'" /></div>
</div>

<!-- 返回顶部 -->
<div class="detail-top" id="backTop">
  <img th:src="${uiPath} + ${appName} + '/images/icon_top.png'" />
</div>

<!--底部导航-->
<div class="foot-black"></div>
<div class="weui-tabbar wy-foot-menu">
  <a href="/" class="weui-tabbar__item">
    <div class="weui-tabbar__icon foot-menu-home"></div>
    <p class="weui-tabbar__label">商城首页</p>
  </a>

  <a href="javascript:;" onclick="qiangquan()" class="weui-tabbar__item yellow-color open-popup">
    <p class="promotion-foot-menu-label" style="font-size: 0.8rem;">去抢券</p>
  </a>
  <a href="javascript:;" onclick="haibao()" class="weui-tabbar__item red-color open-popup">
    <p class="promotion-foot-menu-label" style="font-size: 0.8rem;">生成推广海报</p>
  </a>
</div>

<!-- 查询页链接提交form，隐藏 -->
<div style="display: none;">
<form action="/goods/toSearch" method="post" id="searchForm">
  <input type="hidden" name="pageNum" value="1" />
  <input type="hidden" name="pageSize" value="20" />
  <input type="hidden" name="title" value="" />
</form>
</div>
<div id="toastContainer"></div>
<script th:src="${uiPath + appName} + '/js/jquery-2.1.4.js'"></script>
<script th:src="${uiPath + appName} + '/js/swiper.js'"></script>
<script th:src="${uiPath + appName} + '/js/jquery-weui.js'"></script>
<script th:src="${uiPath + appName} + '/js/fastclick.js'"></script>
<script th:src="${uiPath + appName} + '/js/common.js'"></script>
<script th:src="${uiPath + appName} + '/js/clipboard.min.js'"></script>
<script th:inline="javascript">
  var appURL = [[${uiPath}]] + [[${appName}]];
  var goodsDetail = [[${goodsDetail}]];
  var commission_rate = [[${commission_rate}]];
  var coupon_amount = [[${coupon_amount}]];
  var coupon_click_url = [[${coupon_click_url}]];
  var click_url = [[${click_url}]];
  var item_description = [[${item_description}]];
  var numIid,title,userType,pictUrl,zkPrice,zkFinalPrice,reservePrice,volume,freeShipment=false;

  var platform = [[${platform}]];
  var txt = '';
  var tkl = '';

  $(function() {
      FastClick.attach(document.body);
      loadInfo();
      $("#listwrap").height($(document.body).height()-44);
      $(".swiper-zhutu").swiper({
          loop: true,
          paginationType:'fraction',
          autoplay:5000
      });
      // 返回顶部
      //backScroll('listwrap');
      txt = title + '\n----------\n券后￥'+zkPrice+'【优惠券'+coupon_amount+'元】\n原价￥'+zkFinalPrice + (userType==0?'【淘宝】':userType==1?'【天猫】':'')+'\n----------\n'+(item_description!=''?item_description+'\n----------\n':'');
  });
</script>
</body>
</html>
