<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>商城首页</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/weui.min.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/jquery-weui.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/style.css'}">
</head>
<body ontouchstart>
<!--主体-->
<div class="weui-content" id="listwrap" style="overflow-y:auto;">
  <div class="weui-flex wy-iconlist-box">
    <a th:href="@{${menu.url}+'?showId='+${menu.id}}" th:text="${menu.name}" th:each="menu,menuStat:${menus}" th:classappend="${showId== menu.id}? 'weui-bar__item--on'" class="weui-navbar__item proinfo-tab-tit"></a>
  </div>
  <!--图标分类-->
  <div class="weui-panel index-module">
    <div th:each="module,moduleStat:${modules}" class="weui-flex__item" style="flex: 0 0 20%;">
      <a th:href="${module.url}" class="wy-links-iconlist">
        <div class="img">
          <!--<img th:src="@{${uiPath} + ${appName} + ${module.icon}}" />-->
          <i th:classappend="${module.icon}" class="icon36-zz"></i>
        </div>
        <p style="font-size:0.7rem;" th:text="${module.name}"></p>
      </a>
    </div>
  </div>
  <!--优惠抢购-->
    <div class="wy-Module-tit-line" style="padding-bottom:0;"><span style="font-size:0.65rem;">领券抢购</span></div>
  <!-- 数据列表 -->
  <div class="weui-panel">
      <ul id="goodsUL" class="wy-pro-list clear"></ul>
  </div>
  <div class="weui-loadmore" style="padding-bottom:1rem;height:1rem">
    <i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span>
  </div>
</div>

<!--顶部搜索-->
<header class="weui-header index-header">
  <div class="weui-search-bar index-search-bar">
    <div class="weui-search-bar__box index-search-box">
      <form action="/goods/toSearch" method="post" id="searchForm">
        <input type="hidden" name="pageNum" value="1" />
        <input type="hidden" name="pageSize" value="20" />
        <i class="weui-icon-search"></i>
        <input type="search" name="title" class="weui-search-bar__input" placeholder="搜索您想要的商品" style="width:98%;font-size: 0.7rem;" />
      </form>
    </div>
    <div class="index-search-c">
      <a href="javascript:void(0);" onclick="$('#searchForm').submit()" style="" class="weui-btn weui-btn_mini index-search-btn">搜索</a>
    </div>
  </div>
</header>

<!-- 返回顶部 -->
<div class="detail-top" id="backTop">
  <img th:src="${uiPath} + ${appName} + '/images/icon_top.png'" />
</div>

<!-- 底部导航 -->
<div class="weui-tabbar wy-foot-menu">
  <a href="/" class="weui-tabbar__item on">
    <i class="icon18-zz icon-quan-18-2"></i>
    <p class="weui-tabbar__label">活动券</p>
  </a>
  <!--
  <a href="classify.html" class="weui-tabbar__item">
    <i class="icon18-zz icon-retui-18"></i>
    <p class="weui-tabbar__label">团长推荐</p>
  </a>
  <a href="shopcart.html" class="weui-tabbar__item">
    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
    <i class="icon18-zz icon-pyq-18"></i>
    <p class="weui-tabbar__label">一键发圈</p>
  </a>
  -->
  <a href="/user/mine" class="weui-tabbar__item">
    <i class="icon18-zz icon-mine-18"></i>
    <p class="weui-tabbar__label">我的</p>
  </a>
</div>

<script th:src="@{${uiPath} + ${appName} + '/js/jquery-2.1.4.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/fastclick.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/jquery-weui.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/swiper.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/common.js'}"></script>
<script th:inline="javascript">
    $(function() {
        FastClick.attach(document.body);
        // 第一次加载数据
        $(".weui-loadmore").show();
        loadGoods();
        $('#listwrap').height($('body').height() - 44);
        // 返回顶部
        backScroll('listwrap');
    });
    var appURL = [[${uiPath}]] + [[${appName}]];
    var pageNum = 1;
    var pageSize = 20;
	function loadGoods(){
	    $.post('/goods/loadGoods',{pageNum:pageNum,pageSize:pageSize},function(data){
          loading = false;
          if(data && data.length > 0){
              $(data).each(function(){
                  $this = this;
                  // 天猫:icon-tianmao-18, 淘宝:icon-taobao-18, 京东:icon-jingdong-18, 拼多多:icon-pinduoduo-18
                  var tianmaoCss = 'icon-tianmao-18';
                  $('#goodsUL').append('<li>' +
                        '<a href="/goods/goodsDetail?numIid='+$this.id+'&platform=2">' +
                          '<img src="'+appURL+'/images/flag-new-3.png" height="32" class="newFlag" style="display: block;">' +
                          '<span class="quanFlag"><b>'+$this.couponInfo+'</b><br>元券</span>' +
                          '<div class="proimg">' +
                            '<img src="'+appURL+$this.pictUrl+'">' +
                          '</div>' +
                          '<div class="protxt">' +
                          // 根据店铺类型判断是天猫、淘宝
                            '<div class="name" style="position: relative;">' +
                            '<i class="icon18-zz '+tianmaoCss+'" style="margin-right: 5px;"></i>' +
                            '<em style="position: absolute;top: -1px;">'+$this.title+'</em></div>' +
                            '<div class="name" style="position: relative;"><p>' +
                              '<em class="nowPrice">￥'+$this.zkFinalPrice+'</em>' +
                              '<span class="oldPrice">￥'+$this.reservePrice+'</span>' +
                              '<small class="monthOrderNum">月销'+$this.volume+'件</small>' +
                              '</p></div>' +
                            '<div class="return" style="margin-bottom: 3px;">' +
                              '<div style="background-color: #dc2527;color: #fff;">标佣¥4.32</div>' +
                              '<div style="color: #dc2527;">特佣¥6.32</div>' +
                              '</div>' +
                            '</div>' +
                          '</a>' +
                        '</li>');
              });
          }else{
              $("#listwrap").append("<div class=\"weui-cells__title\" style='text-align: center;'>已无更多数据</div>");
              loading = true;
          }
          $(".weui-loadmore").hide();
        });
    }
    var loading = false;
    $("#listwrap").infinite().on("infinite", function () {
        if (loading) return;
        loading = true;
        pageNum++; //页数
        $('.weui-loadmore').show();
        setTimeout(function () {
            loadGoods();
        }, 100);
    });
</script>
</body>
</html>
