<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>登录－优选商城</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="${uiPath + appName} + '/css/weui.min.css'">
<link rel="stylesheet" th:href="${uiPath + appName} + '/css/jquery-weui.css'">
<link rel="stylesheet" th:href="${uiPath + appName} + '/css/style.css'">
</head>
<body ontouchstart>
<!--主体-->
<div class="weui-content" id="listwrap" style="overflow-y:auto;height:100%;">
  <!--数据列表-->
  <div class="weui-panel">
    <div class="weui-media-box__hd mine-head-d" th:switch="${#strings.isEmpty(user.headUrl)}" style="width: 30%;margin: 0 auto;padding:35px 0;">
      <img class="weui-media-box__thumb radius" th:src="${uiPath + appName} + '/images/zz-logo.jpg'" />
    </div>
    <div class="weui-tab">
      <div class="weui-navbar">
        <a class="weui-navbar__item login_tab weui-bar__item--on" href="#tab1">
          密码登录
        </a>
        <a class="weui-navbar__item login_tab" href="#tab2">
          验证码登录
        </a>
      </div>
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
          <div class="weui-cells" style="margin-top:0;">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入手机号">
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请输入密码">
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <a class="weui-btn weui-btn_primary" style="background-color:#DD2727;" href="javascript:" id="loginBtn">登录</a>
              </div>
            </div>
          </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
          <div class="weui-cells" style="margin-top:0;">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入手机号">
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请输入验证码">
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请输入新密码">
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <a class="weui-btn weui-btn_primary" style="background-color:#DD2727;" href="javascript:" id="loginBtn">登录</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="${uiPath + appName} + '/js/jquery-2.1.4.js'"></script>
<script th:src="${uiPath + appName} + '/js/fastclick.js'"></script>
<script th:src="${uiPath + appName} + '/js/jquery-weui.js'"></script>
<script th:inline="javascript">
    var appURL = [[${uiPath}]] + [[${appName}]];
    $(function() {
        FastClick.attach(document.body);
    });
</script>
</body>
</html>
