<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>最近订单</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/weui.min.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/jquery-weui.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/style.css'}">
</head>
<body ontouchstart>
<!--主体-->
<div class="weui-content" id="listwrap" style="overflow-y:auto;height:100%;">
  <!--数据列表-->
  <div class="weui-panel" style="margin-top: 44px;">
    <div class="order-label-name"><div class="item-div">待返佣金:<em id="daifanMoney">0</em></div><div class="item-div">已返佣金:<em id="yifanMoney">0</em></div></div>
    <div id="ordersList" class="ordersList" ></div>
  </div>
  <div class="weui-loadmore" style="padding-bottom:1rem;height:1rem">
    <i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span>
  </div>
</div>

<!--顶部-->
<header class="weui-header index-header">
      <div class="weui-flex wy-iconlist-box" style="display: flex;margin-top: 0;background-color: #DD2727;">
        <a href="/order/toOrders?tab=1" th:classappend="${tab == 1}? 'weui-bar__item--on2'" style="padding:11px 0 9px 0;flex: 0 0 25%;color:#fff;margin: 0 auto;" class="weui-navbar__item proinfo-tab-tit">最近订单</a>
        <a href="/order/toOrders?tab=2" th:classappend="${tab == 2}? 'weui-bar__item--on2'" style="padding:11px 0 9px 0;flex: 0 0 25%;color:#fff;margin: 0 auto;" class="weui-navbar__item proinfo-tab-tit">个人推广</a>
      </div>
</header>

<!-- 底部导航 -->
<div class="weui-tabbar wy-foot-menu">
  <a href="/" class="weui-tabbar__item">
    <i class="icon18-zz icon-quan-18-2"></i>
    <p class="weui-tabbar__label">活动券</p>
  </a>
  <!--
  <a href="classify.html" class="weui-tabbar__item">
    <i class="icon18-zz icon-retui-18"></i>
    <p class="weui-tabbar__label">团长推荐</p>
  </a>
  <a href="shopcart.html" class="weui-tabbar__item">
    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
    <i class="icon18-zz icon-pyq-18"></i>
    <p class="weui-tabbar__label">一键发圈</p>
  </a>
  -->
  <a href="/user/mine" class="weui-tabbar__item">
    <i class="icon18-zz icon-mine-18"></i>
    <p class="weui-tabbar__label">我的</p>
  </a>
</div>

<script th:src="@{${uiPath} + ${appName} + '/js/jquery-2.1.4.js'}"></script> 
<script th:src="@{${uiPath} + ${appName} + '/js/fastclick.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/jquery-weui.js'}"></script>
<script th:inline="javascript">
    var appURL = [[${uiPath}]] + [[${appName}]];
    var tab = [[${tab}]];
    $(function() {
        FastClick.attach(document.body);
        $('#listwrap').height($('body').height() - 44);
        loadFrends();
    });
    var pageNum = 1;
    var pageSize = 20;
    function loadFrends(){
      $.post('/order/orders',{pageNum:pageNum,pageSize:pageSize,tab:tab},function(data){
          loading = false;
          var goodsUrl;
          var list = data.data;
          console.log(data);
          var daifanMoney = data.daifanMoney;
          $('#daifanMoney').text(daifanMoney / 100);
          var yifanMoney = data.yifanMoney;
          $('#yifanMoney').text(yifanMoney / 100);
          if(list && list.length > 0){
              $(list).each(function(){
                  $this = this;
                  $('#ordersList').append('<div class="orders-line">' +
                      '        <div class="weui-panel__hd" style="padding: 6px 15px 6px 15px;"><span style="font-size: 0.65rem;">单号：'+$this.orderId+'</span><span class="ord-status-txt-ts fr">佣金:'+($this.userMoney/100)+'</span></div>' +
                      '        <div class="weui-media-box__bd  pd-10">' +
                      '          <div class="weui-media-box_appmsg ord-pro-list">' +
                      '            <div class="weui-media-box__hd"><img class="weui-media-box__thumb" src="'+$this.goodsPic+'" alt=""></div>' +
                      '            <div class="weui-media-box__bd">' +
                      '              <h1 class="weui-media-box__desc"><span class="ord-pro-link">'+$this.goodsTitle+'</span></h1>' +
                      '              <div class="clear mg-t-10">' +
                      '                <div class="wy-pro-pri fl">¥<em>'+$this.amount/100+'</em></div>' +
                      '                <div class="pro-amount fr"><span>数量×<em class="name">'+$this.num+'</em></span></div>' +
                      '              </div>' +
                      '            </div>' +
                      '          </div>' +
                      '        </div>' +
                      '      </div>');
              });
          }else{
              $("#listwrap").append("<div class=\"weui-cells__title\" style='text-align: center;'>没有更多的数据</div>");
              loading = true;
          }
          $(".weui-loadmore").hide();
      });
    }
    var loading = false;
    $("#listwrap").infinite().on("infinite", function () {
        if (loading) return;
        loading = true;
        pageNum++; //页数
        $('.weui-loadmore').show();
        setTimeout(function () {
            loadFrends();
        }, 100);
    });
</script>
</body>
</html>
