<!DOCTYPE html>
<html style="height: 100%;" lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>商城首页</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/weui.min.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/jquery-weui.css'}">
<link rel="stylesheet" th:href="@{${uiPath} + ${appName} + '/css/style.css'}">
</head>
<body ontouchstart style="height: 100%;">
<!--主体-->
<div class="weui-content" id="listwrap" style="overflow-y:auto;">
  <div class="weui-flex wy-iconlist-box" style="margin-bottom: 10px;margin-top: 44px;display: flex;">
    <a th:classappend="${sort == 1}? 'weui-bar__item--on'" style="padding:11px 0 9px 0;flex: 0 0 33%;" class="weui-navbar__item proinfo-tab-tit font-14" href="javascript:" onclick="sortFnc(1)">综合</a>
    <a th:classappend="${sort == 2}? 'weui-bar__item--on'" style="padding:11px 0 9px 0;flex: 0 0 33%;" class="weui-navbar__item proinfo-tab-tit font-14" href="javascript:" onclick="sortFnc(2)">销量</a>
    <a th:classappend="${sort == 3}? 'weui-bar__item--on'" style="padding:11px 0 9px 0;flex: 0 0 33%;" class="weui-navbar__item proinfo-tab-tit font-14" href="javascript:" onclick="sortFnc(3)">价格</a>
  </div>
  <!--优惠抢购-->
  <div class="wy-Module">
    <div class="wy-Module-con">
      <ul id="goodsUL" class="wy-pro-list clear"></ul>
      <div class="weui-loadmore" style="padding-bottom:20px;height:20px">
        <i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span>
      </div>
    </div>
  </div>
</div>

<!--顶部搜索-->
<header class='weui-header' style="top: 0;width: 100%;position: absolute;height: 44px;">
    <div class="weui-search-bar" style="display: flex; top:0; left:0; right:0; height:44px;z-index: 999;padding: 7px 0 7px 10px;">
      <div class="weui-search-bar__box" style="flex: 0 0 80%;height:1.5rem;border-radius: 15px 0 0 15px;color: #9b9b9b;background: #fff;">
        <form action="/goods/toSearch" method="post" id="searchForm">
          <input type="hidden" name="pageNum" value="1" />
          <input type="hidden" name="pageSize" value="20" />
          <input type="hidden" name="sort" th:value="${sort}" id="sortQuery" />
          <i class="weui-icon-search"></i>
          <input type="search" name="title" id="titleQuery" th:value="${query.title}" class="weui-search-bar__input" placeholder="搜索您想要的商品" style="width:98%;font-size: 0.65rem;" />
        </form>
      </div>
      <div style="flex: 0 0 20%;height:1.5rem;"><a href="javascript:void(0);" onclick="$('#searchForm').submit()" style="height:1.5rem;border-radius: 0 15px 15px 0;background-color:#d02c37;font-size: 0.65rem;" class="weui-btn weui-btn_mini weui-btn_warn">搜索</a></div>
    </div>
</header>
<div class="weui-tabbar wy-foot-menu">
  <a href="/" class="weui-tabbar__item weui-bar__item--on">
    <div class="weui-tabbar__icon foot-menu-home"></div>
    <p class="weui-tabbar__label" style="font-size: 0.65rem;">全网优惠</p>
  </a>
  <a href="classify.html" class="weui-tabbar__item">
    <div class="weui-tabbar__icon foot-menu-list"></div>
    <p class="weui-tabbar__label" style="font-size: 0.65rem;">团长推荐</p>
  </a>
  <a href="shopcart.html" class="weui-tabbar__item">
    <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
    <div class="weui-tabbar__icon foot-menu-cart"></div>
    <p class="weui-tabbar__label" style="font-size: 0.65rem;">一键发圈</p>
  </a>
  <a href="mine" class="weui-tabbar__item">
    <div class="weui-tabbar__icon foot-menu-member"></div>
    <p class="weui-tabbar__label" style="font-size: 0.65rem;">我的</p>
  </a>
</div>

<script th:src="@{${uiPath} + ${appName} + '/js/jquery-2.1.4.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/fastclick.js'}"></script>
<script>
  $(function() {
    FastClick.attach(document.body);

    // 第一次加载数据
    $(".weui-loadmore").show();
    loadGoods();
    $('#listwrap').height($('body').height() - 44);
  });
</script>
<script th:src="@{${uiPath} + ${appName} + '/js/jquery-weui.js'}"></script>
<script th:src="@{${uiPath} + ${appName} + '/js/swiper.js'}"></script>
<script th:inline="javascript">
    var appURL = [[${uiPath}]] + [[${appName}]];
    var pageNum = 1;
    var pageSize = 20;
	function loadGoods(){
	    $.post('/goods/loadGoods',{pageNum:pageNum,pageSize:pageSize,title:$('titleQuery').val()},function(data){
          loading = false;
          if(data.length > 0){
              $(data).each(function(){
                  $this = this;
                  $('#goodsUL').append('<li>' +
                      '<a href="/goods/goodsDetail?numIid='+$this.id+'&platform=2">' +
                      '<div style="position: absolute;top: 0;right: 10px;width: 18%;z-index: 499;">' +
                      '<img style="width: 100%;" src="'+ appURL + '/images/img_quan.png"/>' +
                      '<span style="position: absolute;top: 0;left: 35%;width: 65%;text-align:center;color: #fff;font-size:0.6rem;">'+$this.couponInfo+'</span>' +
                      '</div>' +
                      '<div class="proimg">' +
                      '<img src="'+appURL+$this.pictUrl+'">' +
                      '</div>' +
                      '<div class="protxt">' +
                      '<div class="name" style="font-size: 0.65rem;">'+$this.title+'</div>' +
                      '<div class="wy-pro-pri" style="display: flex;">' +
                      '<div style="flex:0 0 65%;">' +
                      '<span style="color: #d02c37;font-size: 0.85rem;">¥'+$this.zkFinalPrice+'</span>' +
                      '<span style="text-decoration:line-through;font-size:0.55rem;">¥'+$this.reservePrice+'</span>' +
                      '</div>' +
                      '<div style="flex:0 0 35%;font-size:11px;text-align: right;">月销'+$this.volume+'件</div>' +
                      '</div>' +
                      '<div style="display: flex;width: 80%;margin:0 auto;border: 1px solid #d02c37;font-size:0.55rem;text-align: center;border-radius:5px;">' +
                      '<div style="flex:0 0 50%;background-color: #d02c37;color: #fff;">标佣¥4.32</div>' +
                      '<div style="flex:0 0 50%;color: #d02c37;">特佣¥6.32</div>' +
                      '</div>' +
                      '</div>' +
                      '</a>' +
                      '</li>');
              });
          }else{
              html += "<li class=\"weui-cells__title\" >已无更多数据</li>";
              $("#goodsUL").append(html);
              loading = true;
          }
          $(".weui-loadmore").hide();
        });
    }
    var loading = false;
    $("#listwrap").infinite().on("infinite", function () {
        if (loading) return;
        loading = true;
        pageNum++; //页数
        $('.weui-loadmore').show();
        loadGoods();
    });
    function sortFnc(sort) {
        $('#sortQuery').val(sort);
        $('#searchForm').submit();
    }
</script>
</body>
</html>
