<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dape.datax.dao.mapper.DataxApplySourceMapper">
  <resultMap id="BaseResultMap" type="com.dape.datax.dao.model.DataxApplySource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="link_ip" jdbcType="VARCHAR" property="linkIp" />
    <result column="db_user" jdbcType="VARCHAR" property="dbUser" />
    <result column="db_pwd" jdbcType="VARCHAR" property="dbPwd" />
    <result column="db_port" jdbcType="VARCHAR" property="dbPort" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, link_ip, db_user, db_pwd, db_port, type_id, task_id, parent_id
  </sql>
  <select id="selectByExample" parameterType="com.dape.datax.dao.model.DataxApplySourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from datax_apply_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from datax_apply_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from datax_apply_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dape.datax.dao.model.DataxApplySourceExample">
    delete from datax_apply_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dape.datax.dao.model.DataxApplySource">
    insert into datax_apply_source (id, link_ip, db_user, 
      db_pwd, db_port, type_id, 
      task_id, parent_id)
    values (#{id,jdbcType=INTEGER}, #{linkIp,jdbcType=VARCHAR}, #{dbUser,jdbcType=VARCHAR}, 
      #{dbPwd,jdbcType=VARCHAR}, #{dbPort,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{taskId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dape.datax.dao.model.DataxApplySource">
    insert into datax_apply_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linkIp != null">
        link_ip,
      </if>
      <if test="dbUser != null">
        db_user,
      </if>
      <if test="dbPwd != null">
        db_pwd,
      </if>
      <if test="dbPort != null">
        db_port,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkIp != null">
        #{linkIp,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null">
        #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPwd != null">
        #{dbPwd,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dape.datax.dao.model.DataxApplySourceExample" resultType="java.lang.Long">
    select count(*) from datax_apply_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update datax_apply_source
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.linkIp != null">
        link_ip = #{record.linkIp,jdbcType=VARCHAR},
      </if>
      <if test="record.dbUser != null">
        db_user = #{record.dbUser,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPwd != null">
        db_pwd = #{record.dbPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPort != null">
        db_port = #{record.dbPort,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update datax_apply_source
    set id = #{record.id,jdbcType=INTEGER},
      link_ip = #{record.linkIp,jdbcType=VARCHAR},
      db_user = #{record.dbUser,jdbcType=VARCHAR},
      db_pwd = #{record.dbPwd,jdbcType=VARCHAR},
      db_port = #{record.dbPort,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dape.datax.dao.model.DataxApplySource">
    update datax_apply_source
    <set>
      <if test="linkIp != null">
        link_ip = #{linkIp,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null">
        db_user = #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPwd != null">
        db_pwd = #{dbPwd,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        db_port = #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dape.datax.dao.model.DataxApplySource">
    update datax_apply_source
    set link_ip = #{linkIp,jdbcType=VARCHAR},
      db_user = #{dbUser,jdbcType=VARCHAR},
      db_pwd = #{dbPwd,jdbcType=VARCHAR},
      db_port = #{dbPort,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>